*.o
*.lo
*.a
.deps
Makefile
Makefile.in
bscconfig.h
bscconfig.h.in
openbsc.pc
src/osmo-nitb/osmo-nitb
src/osmo-bsc_mgcp/osmo-bsc_mgcp
src/osmo-bsc/osmo-bsc
*.*~
*.sw?
.libs
*.pyc

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh

# git-version-gen magic
.tarball-version
.version


# apps and app data
hlr.sqlite3
src/utils/bs11_config
src/ipaccess/ipaccess-config
src/ipaccess/ipaccess-find
src/ipaccess/ipaccess-firmware
src/ipaccess/ipaccess-proxy
src/utils/isdnsync
src/nat/bsc_nat
src/gprs/osmo-sgsn
src/gprs/osmo-gbproxy
src/osmo-bsc_nat/osmo-bsc_nat

#tests
tests/bsc-nat/bsc_nat_test
tests/channel/channel_test
tests/db/db_test
tests/debug/debug_test
tests/gsm0408/gsm0408_test
tests/mgcp/mgcp_test
tests/sccp/sccp_test
tests/sms/sms_test
tests/timer/timer_test
tests/gprs/gprs_test
tests/abis/abis_test
tests/si/si_test
tests/smpp/smpp_test

tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
tests/testsuite.log


src/openbsc.cfg*
