Source: openbsc
Section: net
Priority: optional
Maintainer: Harald Welte <laforge@gnumonks.org>
Build-Depends: debhelper (>= 7.0.0~), autotools-dev, pkg-config, libosmocore-dev, libosmo-sccp-dev, libdbi0-dev, dh-autoreconf, libosmo-abis-dev, libosmo-netif-dev, libdbd-sqlite3, libpcap-dev, libsmpp34-dev, libcdk5-dev, libsqlite3-dev
Standards-Version: 3.8.4
Homepage: http://openbsc.osmocom.org/
Vcs-Git: git://bs11-abis.gnumonks.org/openbsc.git
Vcs-Browser: http://openbsc.osmocom.org/trac/browser

Package: osmocom-nitb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdbd-sqlite3
Description: GSM Network-in-a-Box, implements BSC, MSC, SMSC, HLR, VLR
 All the GSM network components bundled together.

Package: osmocom-meas-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcdk5, sqlite3
Description: Measurement utilities for the OpenBSC
 Measurement utilities for the OpenBSC.

Package: osmocom-nitb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: osmocom-nitb (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for the OpenBSC NITB
 Make debugging possible

Package: osmocom-meas-utils-dbg
Architecture: any
Section: debug
Priority: extra
Depends: osmocom-meas-utils (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for the OpenBSC measurement utilities
 Make debugging possible

