[Unit]
Description=OpenBSC MGCP

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/osmo-bsc_mgcp -s -c /etc/osmocom/osmo-bsc-mgcp.cfg
Restart=always
RestartSec=2
